body
{
	background-color: #1d2021;
	color: #d5c4a1;
}

a 
{
	text-decoration: none;
}

a:link, a:visited 
{
	color: #8ec07c;
}

a:active, a:hover 
{
	color: #689d6a;	
}

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #928374;
}

.header
{
	text-align: center;
	margin-bottom: 15px
}

.menu
{
	display: inline-block;
	border: solid 1px #928374;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.menu a
{
	padding: 5px 10px 5px 10px;
}

.footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px 8px;
}
